@font-face {
    font-family: Fraunces;
    src: url("/static/fonts/Fraunces[SOFT,WONK,opsz,wght].woff2") format('woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}
html {
    font-size: 16px;
    font-size: clamp(1.25rem, calc(.5rem + 1vw), 10rem);
    color: #000;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    border-bottom: none;
    border-top: none;
    font-family: Fraunces, Georgia, 'Times New Roman', Times, serif;
    font-variation-settings: 'opsz'0;
    background-size: auto 1080px;
    /* background-image: url('/static/images/speckles.svg'); */
    background-repeat: no-repeat;
    --cta-padding-y: .625rem;
    --cta-outer-y: .5rem;
    --container-padding-x: 10%;
}
body{
    scrollbar-color: black white;
    scrollbar-width: 3.75em;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
::selection {
    background: var(--selection-bg,var(--color));
    color: var(--selection,#fff);
}
::-webkit-scrollbar {
    --down-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M38 16H10l14 24z'/%3E%3C/svg%3E");
    --up-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M38 32H10L24 8z'/%3E%3C/svg%3E");
    width: 3.75em;
    background-image: var(--up-arrow), var(--down-arrow);
    background-position: top, bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--color);
    border-left: .125rem solid #000;
}
::-webkit-scrollbar-thumb {
    --scrollbar-cutout-up:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' %3E%3Cpath fill='black' d='M0 48V0h48v48Zm13.6-18h20.9L24 12Zm-73.7 18h48V0h-48z'/%3E%3C/svg%3E");
    --scrollbar-cutout-down:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' %3E%3Cpath fill='black' d='M0 0v48h48V0H0zm13.6 18h20.9L24 36 13.6 18zM-61.3-.5h48v48h-48z'/%3E%3C/svg%3E");
    background-image: var(--scrollbar-cutout-up),var(--scrollbar-cutout-down),linear-gradient(#000,#000);
    background-repeat: no-repeat;
    background-position-y: 0,bottom,2.75rem;   
    background-size: contain, contain, 100% calc(100% - 5.5rem);
    min-height: 7.5rem;
    width: 3.75em; 
    border: .125rem solid #000;
}
::-webkit-scrollbar-thumb:hover {

}
::-webkit-scrollbar-thumb:active {

}

hr {
    border: none;
    border-top: 1px solid;
    opacity: .25;
}
@media (min-width: 37.5em) {
    html {
        background-repeat: repeat;
    }
}

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
    line-height: calc(1em + .5rem);
    margin: 0;
    box-sizing: border-box;
    -webkit-padding-start: 0;
}

*+* {
    margin-top: calc(1em + .5rem);
}

*+li {
    margin-top: calc(.5em + .25rem);
}

.skip__wrapper {
    background: #000;
    margin: 0;
}
.skip {
    padding: var(--cta-outer-y) var(--container-padding-x);
    margin: 0;
}

.skip__link {
    display: inline-block;
    padding-top: var(--cta-padding-y);
    padding-bottom: var(--cta-padding-y);
}

.skip__link:hover {
    text-decoration-color: #fff;
}

nav {
    padding: var(--cta-outer-y) var(--container-padding-x);
    margin: 0;
    font-variation-settings: 'opsz'0;
}

nav a {
    display: inline-block;
    padding-top: var(--cta-padding-y);
    padding-bottom: var(--cta-padding-y);
    margin: 0 !important;
}
nav span {
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav * {
    margin:0;
    padding: 0;
    list-style: none;
}
nav * + * {
    margin-top: var(--cta-outer-y);
}

main {
    background-color: #fff;
    padding: 0 var(--container-padding-x) var(--container-padding-x);
    margin: 0 0 auto;
}

main>* {
    width: 100%;
    max-width: 32em;
}

h1 {
    font-size: 3em;
    font-size: clamp(1.875rem, calc(.875rem + 4vw), 4.5rem);
    scroll-margin: 1em 0 0;
    margin-top: calc(1em + .5rem);
}
h1 + time {
    display: block;
}
h2 {
    font-size: 2em;
    font-size: clamp(1.75rem, calc(.875rem + 2vw), 3rem);
}

h1, h2, h3, h4, h5, h6 {
    max-width: 28ch;
    font-variation-settings: 'opsz'36;
}

*+ :where(h2, h3, h4, h5, h6,hr) {
    margin-top: calc(1em + 2rem);
}

a {
    color: var(--color, #767676);
    text-decoration-thickness: .15rem;
    text-underline-offset: .25em;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    padding: .125rem;
    outline-offset: 0rem;
    border-radius: .25rem;
}

a:hover {
    text-decoration-color: #000;
    text-decoration-thickness: .2rem;
}

a:active {
    text-decoration-thickness: .1em;
}

blockquote {
    font-size: clamp(1.25rem, calc(.875rem + 1vw), 1.75rem);
    margin-top: 3rem;
}
* + blockquote {
    margin-top: 1.5rem;
}
blockquote::before {
    content: '“ ';
}
blockquote::after {
    content: ' ”';
}
blockquote > p {
    display: inline;
}
blockquote + p {
    margin-top: calc(.5em + .25rem);
    margin-bottom: 3rem;
}
blockquote + p:before {
    content: '↪ ';
}

summary {
    padding: .5rem 0;
    cursor: pointer;
}
:where(summary,a):focus {
    outline: solid .15rem;
    text-decoration: none;
}

:where(summary,a):focus:not(:focus-visible) {
    outline: none;
}

ul {
    padding: 0;
}

li *+* {
    margin-top: calc(.5em + .25rem);
}

header {
    max-width: 100%;
}

footer {
    border-top: .125rem solid #000;
    background-color: var(--color);
    color: #000;
    padding: var(--cta-outer-y) var(--container-padding-x);
}

img {
    width: 100%;
    height: auto;
    border: .1rem solid var(--color, #767676);
    border-radius: 1.5rem;
}

pre {
    overflow: auto;
    background: var(--color, #767676);
    color: #fff;
    padding: 1rem;
    width: fit-content;
    max-width: 100%;
    border-radius: 1.5rem;
    white-space: pre-wrap;
}
time {
    font-style: italic;
}
@media print {
    :root {
        font-size: 1rem;
    }
    nav,footer,.skip__wrapper {
        display: none;
    }
    h1 {
        margin: 0;
    }
    * + * {
        margin-top: 1rem;
    }
    a {
        text-decoration: none;
        color: inherit;
        padding-left: 0;
        padding-right: 0;
    }
    main {
        padding-top: 0;
        padding-bottom: 0;
    }
    main>* {
        max-width: 100%;
    }
    .page-break{
        page-break-before:always;
    }
}
.m-0 {
    margin: 0;
}
@media (min-width:40em) {
    .sm\:inline {
        display: inline;
    }
    .sm\:hidden {
        display: none;
    }
}