        <footer>
            <script async src='https://betterweb.eco/simple-badge.js'></script>
            <betterweb-badge class='betterweb-badge'></betterweb-badge>

            <div class='colors'>
                <span><strong>#{{colors}}</strong> is today's color.</span>
            </div>
        </footer>
    </body>
</html>