        <footer>
           <span><strong>#{{colors}}</strong> is today's color.</span>
           <script src='https://betterweb.eco/simple-badge.js'></script>
           <betterweb-badge></betterweb-badge>
        </footer>
    </body>
</html>