<!doctype html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        {% if description %}
            <meta name="Description" content="{{description}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <style>
            html {
                --color: #{{colors}} ;
            }
        </style>
    </head>
    <body>
        <a href="#h1">Skip to content</a>
        <nav>
            <a 
                href="/" 
                {{ "aria-current=page" if page.url == "/"}}
            >
                Eric Mikkelsen
            </a>
            <ul>
                {% for link in nav %}
                    <li>
                        <a 
                            href="{{link.url}}"
                            {{ "aria-current=page" if link.url == page.url}}
                        >
                            {{link.text}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>