<!doctype html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        {% if description %}
            <meta name="Description" content="{{description}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <style>
            html {
                --color: {{colors}} ;
            }
        </style>
    </head>
    <body>
        <a href="#h1">Skip to content</a>
        <nav>
            <a href="/" aria-current="page">Eric Mikkelsen</a>
            {# <ul>
                <li><a href="/art">Art</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="#art">Projects</a></li>
                <li><a href="#art">Resume</a></li>
            </ul> #}
        </nav>