
{% include "_head.njk" %}
    <main>
        <header>
            <h1 id="h1">{{title}}</h1>
        </header>
        {{content | safe}}
        {% set items = collections[collection] %}
        {% set reversed = 'reversed' if reverse_collection else '' %}
        <ol class='collection' {{reversed}} >
        {% for item in items|reverse %}
                    <li class='collection__item'>
                        {% set link %}
                            <a href='{{item.data.page.url}}'>{{item.data.title}}</a>
                        {% endset %}
                        {% if item.data.excerpt %}
                            <h2>{{link|safe}}</h2>
                            <p>{{item.data.excerpt}}</p>
                        {% else %}
                            {{link|safe}}
                        {% endif %}
                    </li>
        {% endfor %}
        </ol>
    </main>
{% include "_footer.njk" %}