{% include "_head.njk" %}
    <main>
        <header>
            <h1 id="h1">{{title}}</h1>
        </header>
        {{content | safe}}
        {% for job in workHistory %}
            <h3>{{job.organization}} — {{job.jobTitle}}</h3>
            
            <p>
                <time>{{job.date}}</time>
                <br>{{job.description|safe}}
            </p>
        {% endfor %}

        <h2 class='page-break'>Skills</h2>
        <ul>
            {% for skill in skills %}
                <li>{{skill}}</li>
            {% endfor %}
        </ul>
    </main>
{% include "_footer.njk" %}