{% include "_head.njk" %}
    <main>
        <header>

            <h1 id="h1">
                {% if url %}
                    <a href="{{url}}">
                        {{title}}
                    </a>
                {% else %}
                    {{title}}
                {% endif %}
            </h1>
            {% if page.date %}
                <time>{{page.date|postDate}}</time>
            {% endif %}
        </header>
        {{content | safe}}
    </main>
{% include "_footer.njk" %}